name = "rgou-main"
main = ".open-next/worker.js"
compatibility_date = "2025-06-14"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]
account_id = "571f130502618993d848f58d27ae288d"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[vars]
ENVIRONMENT = "production"

[observability]
enabled = true
head_sampling_rate = 1

[[routes]]
pattern = "rgou.tre.systems/*"
zone_name = "tre.systems"

[[d1_databases]]
binding = "DB"
database_name = "rgou-db"
database_id = "f3b432c2-1e6e-48ce-8bc2-d81b4c3f5b12"
preview_database_id = "rgou-db-preview"
migrations_dir = "migrations"
